
project/LOGS/

project/png/

project/photos/

project/make/

project/star

project/nets/

project/\.temp_net

*.data

Docs/runs/run2/history\.data\.zip

project/1M_photosphere_tables_pAGB\.mod

*.zip

project/restart_photo

Docs/**

Stellar Evolution/

project/core

*.mod

project/tables/ges_edr5_ges_fld_and_li1_not_null

project/tables/ges_edr5_ges_fld_not_null
