
project/LOGS/

project/png/

project/photos/

project/make/

project/star

project/nets/

project/\.temp_net

*.data

Docs/runs/run2/history\.data\.zip

project/1M_photosphere_tables_pAGB\.mod

*.zip

project/restart_photo

Docs/**

Stellar Evolution/

project/core

*.mod

project/tables/ges_edr5_ges_fld_and_li1_not_null

project/tables/ges_edr5_ges_fld_not_null

project/tables/1/

project/tables/3/

project/tables/oc_sin_mem3d/

project/overleaf/Tesis III/libro.aux

project/overleaf/Tesis III/libro.bbl

project/overleaf/Tesis III/libro.blg

project/overleaf/Tesis III/libro.ist

project/overleaf/Tesis III/libro.log

project/overleaf/Tesis III/libro.pdf

project/overleaf/Tesis III/libro.synctex.gz

project/overleaf/Tesis III/libro.toc

project/overleaf/Tesis III/texput.log

project/utils/

project/overleaf/Tesis III/libro.acn

project/overleaf/Tesis III/libro.glo
